
useDynLib(SFSI, .registration=TRUE)

export(plotPath)
export(plotNet)
export(SSI)
export(SSI_CV)
export(getGenCov)
export(collect)
export(cov2dist)
export(cov2cor2)
export(lars2)
export(readBinary)
export(saveBinary)
export(solveEN)
export(fitBLUP)

exportMethods(SFSI)
S3method(coef,SSI)
S3method(fitted,SSI)
S3method(fitted,LASSO)
S3method(plot,SSI)
S3method(plot,SSI_CV)
S3method(summary,SSI)
S3method(summary,SSI_CV)

importFrom(grDevices,rainbow)
importFrom(stats,cor,var,predict,smooth.spline,IQR,model.matrix,uniroot,runif,sd)
importFrom(utils,setTxtProgressBar,txtProgressBar,object.size)
